@page "/counter"
@using System.Text.Json
@inject HttpClient httpClient
@inject NavigationManager navigateMgr
@using Models;
<h1>Counter</h1>
@if (userS != null)
{
    <p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
}
@code {
    private int currentCount = 0;
    public Student userS { get; set; }
    private void IncrementCount()
    {
        currentCount++;
    }
    string ResultStr = " Loading... ";
    protected override async Task OnInitializedAsync()
    {
        // UID = await SecureStorage.Default.GetAsync("ID");
        // if (UID == null)
        // {
        //     UID = "-1";
        // }

        string jsonString = await SecureStorage.Default.GetAsync("customerDATA");
        if (jsonString == null)
        {
            userS = new Student();
        }
        else
        {
            userS = JsonSerializer.Deserialize<Student>(jsonString);
        }

        if (userS.Id <= 0)
        {
            navigateMgr.NavigateTo("/login", replace: true);
        }
        else
        {
            try
            {
               // CustomerList = await httpClient.GetFromJsonAsync<List<Student>>(Data.APIs.GetAllCustomerURL);
            }
            catch (Exception ex)
            {
                ResultStr = ex.Message;
            }
        }
    }
}
