@page "/login"
@using System.Text.Json;


@inject NavigationManager navigateMgr
@using Models;

<h1>Login</h1>

<div class="card">
    <div class="card-header">Login Account</div>
    <div class="card-body">
        <div class="form-group mt-2">
            <label>Name</label>
            <input type="text" class="form-control" @bind="name" />
        </div>
        <div class="form-group mt-2">
            <label>Password</label>
            <input type="password" class="form-control" @bind="paswword" />
        </div>
    </div>
    <div class="card-footer">
        <button class="btn btn-primary" @onclick="HandleLogin">Login</button>
    </div>
    <div class="card-header"><p><em>@ResultStr</em></p></div>

</div>

@code {

    public string name { get; set; }
    public string paswword { get; set; }
    public Student userS { get; set; }
    public string ResultStr { get; set; }

    private async Task HandleLogin()
    {
        // Simulate asynchronous loading to demonstrate a loading indicator


        try
        {
            HttpClient httpClient = new HttpClient();
            //CustomerList = new List<Customer>();
            Person LoginCustomer = new Person();
            LoginCustomer.email = name;
            LoginCustomer.password = paswword;
            LoginCustomer.first_name="D";
            LoginCustomer.userid = "4324";
            LoginCustomer.last_name = "de";
            LoginCustomer.Id = 19;
            LoginCustomer.userid = "1";
            // Person temp = new Person("kaladin", "stormblest", "dwada", "i claim the sky");
            string json = JsonSerializer.Serialize(LoginCustomer);
            Console.WriteLine(json);
            //CustomerList.Add(customer);
         

            var apiResponse = await httpClient.PostAsJsonAsync<Person>(DataConstLink.APIs.LoginURL,LoginCustomer);
            
            if (apiResponse.StatusCode == System.Net.HttpStatusCode.OK)
            {
                userS = await apiResponse.Content.ReadFromJsonAsync<Student>();
                ResultStr = "OK";
                if (userS.Id > 0)
                {
                    string jsonString = JsonSerializer.Serialize(userS);
                    await SecureStorage.Default.SetAsync("customerDATA", jsonString);
                    navigateMgr.NavigateTo("/", replace: true);
                }
                else
                {

                    await Application.Current.MainPage.DisplayAlert("Info", ResultStr, "Ok");
                }
            }
            else
            {
                await Application.Current.MainPage.DisplayAlert("Info", ResultStr, "Ok");
            }

            
        }
        catch (Exception ex)
        {
            ResultStr = ex.Message;
        }
    }
   
}

