@page "/SearchForFriends/{Id:int}"
@using Models
@using DBL
@inject IJSRuntime js
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedSessionStorage MySession
@inject Microsoft.AspNetCore.Components.NavigationManager navigationManager
<h3>SearchForFriends</h3>
@if(userS!=null)
{
    <section class="vh-100">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-md-12 col-xl-4">

                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body text-center">
                            <div class="mt-3 mb-4">
                                <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_640.png"
                                     class="rounded-circle img-fluid" style="width: 100px;" />
                            </div>
                            <h4 class="mb-2">@friend.first_name @friend.last_name</h4>
                            <p class="text-muted mb-4">
                               @friend.email
                            </p>
                            <div class="mb-4 pb-2">
                                <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-primary btn-floating">
                                    <i class="fab fa-facebook-f fa-lg"></i>
                                </button>
                                <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-primary btn-floating">
                                    <i class="fab fa-twitter fa-lg"></i>
                                </button>
                                <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-primary btn-floating">
                                    <i class="fab fa-skype fa-lg"></i>
                                </button>
                            </div>
                            <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-rounded btn-lg">
                                Message now
                            </button>
                            <div class="d-flex justify-content-between text-center mt-5 mb-2">
                                <div>
                                    <p class="mb-2 h5">8471</p>
                                    <p class="text-muted mb-0">Wallets Balance</p>
                                </div>
                                <div class="px-3">
                                    <p class="mb-2 h5">8512</p>
                                    <p class="text-muted mb-0">Income amounts</p>
                                </div>
                                <div>
                                    <p class="mb-2 h5">4751</p>
                                    <p class="text-muted mb-0">Total Transactions</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
}

@code {
        [Parameter] public int id { get; set; }
    public Student userS = null;
   public Person friend = null;
    protected override async void OnParametersSet()
    {
        if (id == null)
            id = 0;
        else
        {
            
            PersonStudentDB personStudentDB = new PersonStudentDB();
            friend = await personStudentDB.SelectByPkAsync(id);
            // pLst = await productDB.GetBestProductAsync(4);
            if (userS != null)
            {

                // StaticChatHub.conids.Add(userS.email, myConId);
            }
            StateHasChanged();
        }
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)///  גם אם זה מורה זה יהיה סטודנט תחילה כי ישנה ירושה
    {
        if (firstRender)
        {
            var user1 = await MySession.GetAsync<Student>("student");
            if (user1.Success)
            {
                userS = user1.Value;
                
                StateHasChanged();
            }
        }
    }
}

