@page "/SearchForFriends/{Id:int}"
@inject NavigationManager navigationManager
@using Models
@using DBL
@inject IJSRuntime js
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedSessionStorage MySession
@inject Microsoft.AspNetCore.Components.NavigationManager navigationManager
@using Microsoft.AspNetCore.SignalR.Client
@using Hubs
<h3>SearchForFriends</h3>
@if(friend!=null)
{
    <section class="vh-100">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-md-12 col-xl-4">

                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body text-center">
                            <div class="mt-3 mb-4">
                                <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_640.png"
                                class="rounded-circle img-fluid" style="width: 100px;" />
                            </div>
                            <h4 class="mb-2">@friend.first_name @friend.last_name</h4>
                            <p class="text-muted mb-4">
                                @friend.email
                            </p>
                            <div class="mb-4 pb-2">
                                <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-primary btn-floating">
                                    <i class="fab fa-facebook-f fa-lg"></i>
                                </button>
                                <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-primary btn-floating">
                                    <i class="fab fa-twitter fa-lg"></i>
                                </button>
                                <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-primary btn-floating">
                                    <i class="fab fa-skype fa-lg"></i>
                                </button>
                            </div>
                            @if (arewebothfriends==0)
                            {
                                <button type="button" @onclick="AddAsFriendAndSendRequest"  data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-rounded btn-lg">
                                    add as friend and send request
                                </button>
                            }
                            else if(arewebothfriends==3)
                            {

                            }
                            else if(arewebothfriends==2)
                            {

                            }
                            else
                            {

                            }
                            <div class="d-flex justify-content-between text-center mt-5 mb-2">
                                <div>
                                    <p class="mb-2 h5">8471</p>
                                    <p class="text-muted mb-0">Wallets Balance</p>
                                </div>
                                <div class="px-3">
                                    <p class="mb-2 h5">8512</p>
                                    <p class="text-muted mb-0">Income amounts</p>
                                </div>
                                <div>
                                    <p class="mb-2 h5">4751</p>
                                    <p class="text-muted mb-0">Total Transactions</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
}
@if(userS!=null)
{
    <h2>@conid</h2>
}

@code {
    [Parameter] public int id { get; set; }
    public Student userS = null;
    public Person friend = null;
    public friendsDB friendsDB=new friendsDB();
    int arewebothfriends;
    private HubConnection hubConnection;
    string notification = "";
    List<string> strings = new List<string>();
    string conid = "";
    bool flag = true;
    List<string> tryi = new List<string>(); 
    public bool Isconnected => hubConnection.State == HubConnectionState.Connected;
    PersonStudentDB personStudentDB = new PersonStudentDB();
    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
       .WithUrl(navigationManager.ToAbsoluteUri("/chathub"))
       .WithAutomaticReconnect()
       .Build();

        hubConnection.On<string, string>("GetNotificationToInformIAdedYouAsFriend", async (email, notification) =>
        {
            tryi.Add(@$"{email} sent {notification}");
            await InvokeAsync(StateHasChanged);
        });
        await hubConnection.StartAsync();

        conid=hubConnection.ConnectionId;




    }

    public async Task AddAsFriendAndSendRequest()
    {
        List<string> friendconIDs =await StaticChatHub.GiveMyFriendConFORnotifications(friend.email);
        Random random = new Random();
        int randomeventcod = random.Next(0, 999999999);
        Event @event = new Event("new notification", DateTime.Now,0, "notification",randomeventcod);
        friends friends = new friends(userS.Id, id);
        StudentInEvent studentInEvent1 = new StudentInEvent(userS.Id, randomeventcod);//לעכשיו אני מכניס את הרנדום אינוונט קוד ואז אני אעשה אינסרט לפיו
        StudentInEvent studentInEvent2 = new StudentInEvent(id, randomeventcod);

        List<StudentInEvent> studentInEvents = new List<StudentInEvent>();
        studentInEvents.Add(studentInEvent1);
        studentInEvents.Add(studentInEvent2);

        friendsDB friendsDB = new friendsDB();
        EventDB eventDB = new EventDB();
        StudentInEventDB studentInEventDB = new StudentInEventDB();
        await  friendsDB.insertFriends(friends);
        await eventDB.insertEvent(@event);
        await studentInEventDB.insertStedentInEvent(studentInEvents);

        await hubConnection.SendAsync("SendNotificationToInformIAdedYouAsFriend", friendconIDs, "added you as friend", userS.email);
    }
    protected override async void OnParametersSet()
    {
        if (id == null)
            id = 0;
        else
        {



            friend = await personStudentDB.SelectByPkAsync(id);
            // pLst = await productDB.GetBestProductAsync(4);
            if (userS != null && await StaticChatHub.IsMyFriendHereOrme(userS.email) == 0)
            { 
                conid = hubConnection.ConnectionId;
                try
                {
                    if (await StaticChatHub.IsThisSpesificConTO_Email_ExistIn_multyconidFORnotifications(userS.email, hubConnection.ConnectionId))
                    {
                        conid = hubConnection.ConnectionId;
                        List<string> strings = StaticChatHub.multyconidFORnotifications[userS.email];
                        strings.Add(conid);
                        StaticChatHub.multyconidFORnotifications[userS.email] = strings;
                    }
                }
                catch(Exception e)
                {
                    Console.WriteLine(e);
                }

            }


            StateHasChanged();
        }
    }
    public async Task setconid()
    {
        if (flag)
        {
            //if(StaticChatHub.)
            try
            {
                if (await StaticChatHub.IsThisSpesificConTO_Email_ExistIn_multyconidFORnotifications(userS.email, hubConnection.ConnectionId))
                {
                    conid = hubConnection.ConnectionId;
                    List<string> strings = StaticChatHub.multyconidFORnotifications[userS.email];
                    strings.Add(conid);
                    StaticChatHub.multyconidFORnotifications[userS.email] = strings;
                }
            }
            catch (Exception e)
            {
                Console.WriteLine(e);
            }
            flag = false;

        }
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)///  גם אם זה מורה זה יהיה סטודנט תחילה כי ישנה ירושה
    {
        if (firstRender)
        {
            var user1 = await MySession.GetAsync<Student>("student");
            if (user1.Success)
            {
                userS = user1.Value;
                if (!string.IsNullOrEmpty(conid))
                    await setconid();
                

                arewebothfriends = await friendsDB.AreWeBothFriends(userS.Id, id);
                StateHasChanged();
            }
        }
    }
}

