<h3>Tester_will_dell</h3>
@using Models
@using Hubs
@using Microsoft.AspNetCore.SignalR.Client
@inject Microsoft.AspNetCore.Components.NavigationManager navigationManager
@using Blazored.Toast.Services

@inject IJSRuntime js
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@page "/test"

@* @inject BlazorApp1.Hubs.NotificationService NotificationService
 *@
<button @onclick="SendNotification">Send Global Notification</button>

@code {
    public HubConnection hubConnection; string notification;
    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
        .WithUrl(navigationManager.ToAbsoluteUri("/NotificationHub"))
        .WithAutomaticReconnect()
        .Build();

        hubConnection.On<string, string>("GetNotificationToInformIAdedYouAsFriend", async (email, notification) =>
        {
            this.notification = email + " " + notification;

            ToastService toastService = new ToastService();
            toastService.ShowInfo($"{email}: {notification}");
            await InvokeAsync(StateHasChanged);
        });
        hubConnection.On<string, string, int>("GetToInformTeacherThatIwantPrivateClass", async (email, notification, eventrandomcod) =>
        {
            this.notification = email + " " + notification;
            ToastService toastService = new ToastService();
            toastService.ShowInfo($"{email}: {notification}");
            await InvokeAsync(StateHasChanged);
        });
        Console.WriteLine("RRR");
        await hubConnection.StartAsync();




    }
    private async Task SendNotification()
    {
        await hubConnection.SendAsync("SendNotificationToInformTeacherThatIwantPrivateClass", "givehelp", "tal", "robert.clark@email.com", -1246923419);
    }
}
